PORT = 8000
MONGO_DB_URI = 'mongodb+srv://asadaliasim909:pU9xtOsGYyBvAYtD@cluster0.6rznpxb.mongodb.net/?retryWrites=true&w=majority'
JWT_EXPIRATION='24h'
JWT_SECRET='dd5f3089-40c3-403d-af14-d0c228b05cb4'
JWT_REFRESH_TOKEN_SECRET='7c4c1c50-3230-45bf-9eae-c9b2e401c767'
REDDIT_CLIENT_ID = 'Fx2D-Gtickhudfsdfvj2wHIHCaA'
REDDIT_CLIENT_SECRET = 'xiSGiy6MUVYzdsfsdfsdf22bT3d2kt4mrwpVN7w'
